# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# iOS / CocoaPods
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
**/xcuserdata/
*.mobileprovision
*.p12

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# IDEs
.idea/
.vscode/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Firebase CLI local
.firebase/
firebase-debug.log
